<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143539298390-tv1vv8rgcu3425cnma7ujb8ntgvc5v3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143539298390-tv1vv8rgcu3425cnma7ujb8ntgvc5v3a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>143539298390-52ha07rm2sed63gfds0coei1jdreaus3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwBnYb1PgAawATZs8o5O5n0oNLgMW5Bfk</string>
	<key>GCM_SENDER_ID</key>
	<string>143539298390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>paysaw.com.wallet</string>
	<key>PROJECT_ID</key>
	<string>zubi-pay</string>
	<key>STORAGE_BUCKET</key>
	<string>zubi-pay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143539298390:ios:7a5a25559ffe9252d41bf7</string>
</dict>
</plist>